{% extends 'navbar.html' %}

{% block body %}

<div class="container-fluid " style="margin-top:80px;">
	<div class="row" style="border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);margin:10px 10px 10px 10px">
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car1.car_brand_name}}/{{car1.car_brand_name}}.png" style="width:80%; height:auto;margin-left:40px;border-radius:20px;" alt="...">
		<h4 style="text-align:center;">{{car1.car_brand_name}}</h4>
		</div>
		<div class="col-md-2">
			<h1 style="text-align:center;margin:70px auto 70px auto;font-size: 60px;">Vs</h1>
		</div>
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car2.car_brand_name}}/{{car2.car_brand_name}}.png" style="width:80%; height:auto;margin-left:40px;border-radius:20px;" alt="...">
		<h4 style="text-align:center;">{{car2.car_brand_name}}</h4>
		</div>
	</div>

	<div class="row" style="border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);margin:10px 10px 10px 10px">
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car1.category}}_Avg_Service.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
		<div class="col-md-2">
			<h3 style="text-align:center;">Average Service Price</h3>
			<h1 style="text-align:center;margin:70px auto 70px auto;font-size: 60px;">Vs</h1>
		</div>
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car2.category}}_Avg_Service.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
	</div>
	
	
	<div class="row" style="border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);margin:10px 10px 10px 10px">
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car1.category}}_PFSI.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
		<div class="col-md-2">
		<h3 style="text-align:center;">Part Failure Service Index</h3>
			<h1 style="text-align:center;margin:70px auto 70px auto;font-size: 60px;">Vs</h1>
		</div>
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car2.category}}_PFSI.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
	</div>
	
	
	<div class="row" style="border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);margin:10px 10px 10px 10px">
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car1.car_brand_name}}/mileage.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
		<div class="col-md-2">
		<h3 style="text-align:center;">Mileage vs Age(Months)</h3>
			<h1 style="text-align:center;margin:70px auto 70px auto;font-size: 60px;">Vs</h1>
		</div>
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car2.car_brand_name}}/mileage.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
	</div>
	
	
	<div class="row" style="border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);margin:10px 10px 10px 10px">
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car1.car_brand_name}}/emission.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
		<div class="col-md-2">
		<h3 style="text-align:center;">Emission rating vs Age(Months)</h3>
			<h1 style="text-align:center;margin:70px auto 70px auto;font-size: 60px;">Vs</h1>
		</div>
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car2.car_brand_name}}/emission.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
	</div>
	
	<div class="row" style="border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);margin:10px 10px 10px 10px">
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car1.car_brand_name}}/total.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
		<div class="col-md-2">
			<h3 style="text-align:center;">Service Cost vs Age(Months)</h3>
			<h1 style="text-align:center;margin:70px auto 70px auto;font-size: 60px;">Vs</h1>
		</div>
		<div class="col-md-5 my-2">
			<img src="{{profileUrl}}/{{car2.car_brand_name}}/total.png" style="width:100%; height:auto;" alt="...">
		<h4 style="text-align:center;">Lower is better</h4>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div style="padding-left:auto;padding-right: auto;">
				<div
					style="margin: 10px 10px 10px 10px;border-width:4px; border-style:solid; border-radius:20px;border-color: rgba(0,0,0,0.3);">
					<img src="{{profileUrl}}/PFSI_Global.png" style="width:100%; height:auto;" alt="...">
					<h4 style="text-align:center;">Lower is better</h4>
				</div>
			</div>
		</div>
	</div>



	
</div>


{% endblock body %}